.btn_readme{
    border: none;
    /*position: absolute;
    left: 542px;
    top: 1266px;*/
    width: 115px; 
    height: 36px;

    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
    background: #55C2D8;
    border-radius: 18px;
}

.btn_play{
    border: none;
    /* position: absolute;
    left: 525px;
    top: 1700px; */
    width: 150px; 
    height: 150px;

    background: #39C2D7;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 80px;
}

.logo{
    /* position: absolute; */
    width: 63px;
    height: 63px;
    /* left: 569px;
    top: 202px;     */
}