.logo{
    transform: perspective(100px) rotate(0deg);
    transition: all 0.5s;
}

.logo:hover{
    transform: perspective(100px) rotateY(-180deg) scale(1.8);
}

.btn_readme{
    transform: perspective(100px) rotate(0deg);
    transform-origin: left;
    transition: all 0.5s;
}

.btn_readme:hover{
    transform: perspective(100px) rotateZ(10deg);
}

.btn_play{
    transform: perspective(100px);
    transition: all 0.5s;
}

.btn_play:hover{
    color: #39C2D7;
    background: #FFFFFF;
    transform: perspective(100px) scale(0.9);
}




.background1 {
    position: absolute;
    background-position: right 0;
    width: 100%;
    height: 950px;
    margin: 0;
    background-image:url('Animation-image-block-2.svg');
    background-size: cover;
    animation: moveDots 5s ease-in infinite;
}
.background2 {
    position: absolute;
    background-position: right 0;
    width: 100%;
    height: 950px;
    margin: 0;
    background-image:url('Animation-image-block-1.svg');
    background-size: cover;
    animation: glow 6s ease-in infinite;
}

@keyframes glow {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes moveDots {
    0%   {
        transform: translateX(0) translateY(0);
    }
    50%  {
        transform: translateX(-30px) translateY(-10px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

